{% extends ':default:montujemymeble.html.twig' %}

{% block bodyblock %}
    <div class="col-md-8">
        <div class="row" id="naglowek">
            <h3>Pytania</h3>
        </div>
        <div class="row" id="bodyblock">
            <h3>Wiadomość została wysłana.</h3>
        </div>
    </div>
{% endblock %}