{% extends ':default:montujemymeble.html.twig' %}

{% block bodyblock %}
    <div class="row" id="bodyblock">
        Aby uzyskać bliższe informacje odnośnie naszej oferty, prosimy o kontakt:
    </div>
{% endblock %}