{% extends ':default:montujemymeble.html.twig' %}

{% block bodyblock %}
    <div class="panel panel-default">
        <div class="panel-heading">Kontakt</div>
        <div class="panel-body">
            <div>{{ artykul.tresc|raw }}</div>
        </div>
    </div>
{% endblock %}