{% extends ':default:montujemymeble.html.twig' %}

{% block bodyblock %}
    <div class="row" id="bodyblock">
        Przedsiębiorstwo "ARTIFICIUM" Jan Marszałkowski
        80-811 Gdańsk, ul. Na Stoku 40A
        tel. 505 520 012
        NIP: 583-213-66-81
        REGON: 191074540
        e-mail: kontakt@montujemymeble.pl
    </div>
{% endblock %}