<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="Anna Zaremba" content="">

    <title>Montujemy meble</title>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
