{% extends ':default:montujemymeble.html.twig' %}

{% block bodyblock %}
    <div class="row" id="naglowek">
        <h3>Galeria</h3>
    </div>
    <div class="row" id="bodyblock">
        <div>{{ title }}</div>
        {#<div id="galeria">#}
            {#<iframe src="http://flickrslidr.com/slideshow/view.php?g=xD7eek"></iframe>#}
        {#</div>#}
    </div>
{% endblock %}
