{% extends ':default:montujemymeble.html.twig' %}

{% block bodyblock %}
    <div class="panel panel-default">
        <div class="panel-heading">Galeria</div>
        <div class="panel-body">
            <div>
                {% for photo in view %}
                    <div id="galeria">
                        <a href="{{ photo.url_o }}" data-lightbox="roadtrip" data-title="{{ photo.title }}">
                            <img src="{{ photo.url_q }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
