/*********************************************************************************/
/* Body                                                                          */
/*********************************************************************************/

#body {
    background-image: url("../images/background_01.jpg"), url("../images/background_00.jpg");
    background-repeat: repeat-x, repeat;
}

#body1 {
    background-color: #FFF;
    max-width: 910px;
}

#menubody {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    padding-top: 10px;
}

#bodyblock {
    font-size: 14px;
    text-align: justify;
    margin-left: -5px;
    margin-right: 0px;
    margin-top: 10px;
}

#bodyblock2 {
    padding-bottom: 15px;
}

#bodyblock2 a {
    color: black;
}

#linki {
    padding: 15px;
    text-align: justify;
    line-height: 2;
}

#linki a {
    color: #777;
    font-size: 14px;
}

#main {
    margin: 0px;
}

#naglowek {
    border-bottom: 1px inset #d2d2d2;
    margin-top: -25px;
    margin-right: -11px;
    color: #666;
}

#naglowek h3 {
    margin-bottom: 0px;
}

#tresc {
    color: #000;
    margin-top: 15px;
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu {
    font-size: 14px;
    margin-left: -6px;
}

#menu img {
    margin-right: 10px;
}

#menu ul {
    background-color: #cccccc;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 0px;
    margin-bottom: 20px;
    border: double #ffffff;
}

#menu a {
    color: black;
    font-family: Verdana, Arial, sans-serif;
    padding: 0px 0px 4px 10px;
}

#menu a:focus {
    text-decoration: none;
    background-color: transparent;
}

#menu a:hover {
    text-decoration: none;
    background-color: transparent;
}

#link_ikea_brw {
    text-align: center;
}

#link_ikea_brw div {
    margin: 10px;
}

#link_ikea :focus {
    outline: none;
}

#link_brw :focus {
    outline: none;
}

/*********************************************************************************/
/* Zdjęcia                                                                        */
/*********************************************************************************/

#logo-foto {
    text-align: left;
    margin-top: -10px;
    max-width: 910px;
}

#glowne-zdjecie {
    text-align: center;
    max-width: 595px;
    margin-top: -4px;
    margin-bottom: 10px;
    padding: 4px;
}

#galeria {
    margin: 2px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

#galeria img {
    width: 100%;
    height: auto;
}

#gallery {
    background-color: #fff;
    padding: 10px;
    text-align: left;
}
#gallery ul { list-style: none; }
#gallery ul li { display: inline; }
#gallery ul img {
    border: 1px solid grey;
}
#gallery ul a:hover img {
    border: 1px solid #000;
    color: #fff;
}
#gallery ul a:hover { color: #fff; }

/*********************************************************************************/
/* Formularz                                                                       */
/*********************************************************************************/

#formularz {

}

#form-nazwa {
    padding-top: 10px;
}

#przycisk {
    padding-top: 10px;
    padding-bottom: 10px;
}

#form-control {

}

/*********************************************************************************/
/* Stopka                                                                        */
/*********************************************************************************/

#footer {
    text-align: center;
    color: #FFF;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 5px;
    border-top: none;
    font-family: Verdana, Arial, sans-serif;
}

#footer a {
    color: #FFF;
    text-decoration: none;
}

#footer a:focus,
#footer a:hover {
    color: #FFF;
    text-decoration: underline;
}

/*********************************************************************************/
/* Panel                                                                         */
/*********************************************************************************/

#panel li{
    margin: 10px;
}