/*********************************************************************************/
/* Body                                                                          */
/*********************************************************************************/

#body {
    background-image: url("../images/background_01.jpg");
}

#body1 {
    background-color: #FFF;
    border: 0 solid white;
    max-width: 910px;
    min-width: auto;
}

#menubody {
    margin-top: 20px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
}

#bodyblock {

    text-align: justify;
    margin-right: 15px;
    margin-left: -5px;
    padding-top: 15px;
}

#bodyblock2 {
    padding-bottom: 15px;
}

#bodyblock2 a {
    color: black;
}

#linki {
    padding: 15px;
    text-align: justify;
}

#linki a {
    color: #777;
}

#naglowek {
    border-bottom: 1px inset #d2d2d2;
    margin-top: -20px;
    margin-left: -5px;
    color: #666;
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu {
    background-color: darkgrey;
}

#menu a {
    color: black;
    font-family: Arial;
}

#menu a:focus {
    text-decoration: none;
    background-color: transparent;
}

#menu a:hover {
    text-decoration: none;
    background-color: transparent;
}

#link_ikea_brw a:focus {
    text-decoration: none;
    background-color: transparent;
}

#link_ikea_brw a:hover {
    text-decoration: none;
    background-color: transparent;
}

/*********************************************************************************/
/* Galeria                                                                       */
/*********************************************************************************/

.galeria {
    cursor: pointer;
    margin-bottom: 10px;
}

/*********************************************************************************/
/* Zdjęcia                                                                        */
/*********************************************************************************/

#logo-foto {
    text-align: center;
    margin-top: -40px;
}

#glowne-zdjecie {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 600px;
}

/*********************************************************************************/
/* Stopka                                                                        */
/*********************************************************************************/

#footer {
    text-align: center;
    color: #FFF;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    border-top: none;
    font-family: Verdana,Arial,sans-serif;
}

#footer a {
    color: #FFF;
    text-decoration: none;
}

#footer a:focus,
#footer a:hover {
    color: #FFF;
    text-decoration: underline;
}