/*********************************************************************************/
/* Body                                                                          */
/*********************************************************************************/

#body {
    background-image: url("../images/background_01.jpg"), url("../images/background_00.jpg");
    background-repeat: repeat-x, repeat;
}

#body1 {
    background-color: #FFF;
    max-width: 910px;
}

#menubody {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    padding-top: 10px;
}

#bodyblock {
    font-size: 16px;
    text-align: justify;
    margin-right: 15px;
    margin-left: -5px;
    padding-top: 15px;
}

#bodyblock2 {
    padding-bottom: 15px;
}

#bodyblock2 a {
    color: black;
}

#linki {
    padding: 15px;
    text-align: justify;
    line-height: 2;
}

#linki a {
    color: #777;
    font-size: 14px;
}

#naglowek {
    border-bottom: 1px inset #d2d2d2;
    margin-top: -20px;
    margin-left: -5px;
    color: #666;
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu {
    font-size: 14px;
    margin-left: -5px;
}

#menu img {
    margin-right: 10px;
}

#menu ul {
    background-color: darkgrey;
}

#menu a {
    color: black;
    font-family: Verdana, Arial, sans-serif;
}

#menu a:focus {
    text-decoration: none;
    background-color: transparent;
}

#menu a:hover {
    text-decoration: none;
    background-color: transparent;
}

#link_ikea_brw {
    text-align: center;
}

#link_ikea :focus {
    outline: none;
}

#link_brw :focus {
    outline: none;
}

/*********************************************************************************/
/* Galeria                                                                       */
/*********************************************************************************/

.galeria {
    cursor: pointer;
    margin-bottom: 10px;
}

/*********************************************************************************/
/* Zdjęcia                                                                        */
/*********************************************************************************/

#logo-foto {
    text-align: center;
    margin-top: -40px;
    max-width: 910px;
}

#glowne-zdjecie {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    text-align: center;
    max-width: 600px;
}

/*********************************************************************************/
/* Formularz                                                                       */
/*********************************************************************************/

#formularz {

}

#form-nazwa {
    padding-top: 10px;
}

#przycisk {
    padding-top: 10px;
    padding-bottom: 10px;
}

#form-control {

}

/*********************************************************************************/
/* Stopka                                                                        */
/*********************************************************************************/

#footer {
    text-align: center;
    color: #FFF;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 5px;
    border-top: none;
    font-family: Verdana, Arial, sans-serif;
}

#footer a {
    color: #FFF;
    text-decoration: none;
}

#footer a:focus,
#footer a:hover {
    color: #FFF;
    text-decoration: underline;
}