{% extends ':default:panelAdministracyjny.html.twig' %}
{% block panelblock %}
    <div class="row" id="bodyblock">
        <div>
            <h2>Panel użytkownika</h2>
        </div>
        <div>
            <ul class="list-unstyled">
                <li>
                    <a href="{{ path('artykul') }}">Artykuły</a>
                </li>
                <li>
                    <a href="{{ path('logout') }}">Wyloguj</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}