{% extends ':default:montujemymeble.html.twig' %}
{% block bodyblock %}
    <div class="row" id="bodyblock">
        <h2>Panel użytkownika</h2>
        <div>
            <ul class="list-unstyled">
                <li>
                    <a href="{{ path('artykuly') }}">Artykuły</a>
                </li>
                <li>
                    <a href="#">Zdjęcia</a>
                </li>
                <li>
                    <a href="{{ path('logout') }}">Wyloguj</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}