{% extends ':default:panelAdministracyjny.html.twig' %}
{% block panelblock %}
    <div class="row" id="bodyblock">
        <div>
            <h2>Panel użytkownika</h2>
        </div>
        <div>
            <ul class="list-unstyled" id="panel">
                <li>
                    <a href="{{ path('artykul') }}" class="btn btn-primary">Artykuły</a>
                </li>
                <li>
                    <a href="{{ path('logout') }}" class="btn btn-info">Wyloguj</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}