{% extends ':default:panelAdministracyjny.html.twig' %}
{% block panelblock %}
    {{ tinymce_init() }}
    <div class="row" id="bodyblock">
        <h2>Dadawanie artykułu</h2>
        <div>
            artykul
        </div>
    </div>
{% endblock %}