{% extends ':default:montujemymeble.html.twig' %}

{% block bodyblock %}

    <div class="row" id="bodyblock">
        <div id="bodyblock2">
            Firma ARTIFICIUM zajmuje się od kilku lat profesjonalnym montażem mebli na terenie Trójmiasta (Gdańsk,
            Sopot,
            Gdynia) oraz okolic w promieniu 150 kilometrów.
        </div>
        <div id="bodyblock2">
            W naszej ofercie znajdują się zarówno meble kuchenne o stylowym i nowoczesnym wyglądzie oraz takie, które są
            oparte na własnych lub wykonanych przez klienta projektach.
        </div>
        <div id="bodyblock2">
            Ostatnie lata wykonywaliśmy bezpośrednio prace zlecane przez IKEA, ale obecnie chcąc uniknąć biurokracji
            oraz
            presji firmy pośredniczącej w przekazywaniu zleceń sami zaczęliśmy wykonywać pomiary i ustalamy czas montażu
            aby
            uniknąć pośpiechu, który ma zły wpływ na jakość wykonanych prac.
        </div>
        <div id="bodyblock2">
            W trakcie montażu jesteśmy elastyczni i otwarci na zmiany mogące wpłynąć na komfort dalszego użytkowania.
        </div>
        <div id="bodyblock2">
            Doradzamy tak, by uniknąć np. niezabudowanych przestrzeni. Doskonale radzimy sobie z rurami oraz przeróbkami
            szafek.
        </div>
        <div id="bodyblock2">
            Specjalizujemy się w projektowaniu i budowie własnych mebli oraz w meblach z IKEA, które dostosowujemy do
            indywidualnych potrzeb klientów.
        </div>
        <div id="bodyblock2">
            Projektujemy wysokiej jakości zabudowy, szafy oraz garderoby.
        </div>
        <div id="bodyblock2">
            W najbliższym czasie na stronie ruszy dział poświęcony projektowaniu i montażu kuchni IKEA i nie tylko.
            Zawierać
            będzie porady na co zwrócić uwagę przy projektowaniu, czego nie należy robić, jak te rzeczy wyglądają w
            praktyce, itp.
        </div>
    </div>
{% endblock %}